@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

h1{
    font-family: 'Ranchers', cursive;
    text-align: center;
    letter-spacing: 3px;
}
#image{
    display: flex;
    margin-left: 150px;
}